body {
      font-family: Arial, sans-serif;
      background-image: url("../img/black.jpg");
      background-color: #f5f5f5;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    .container-fluid{
      display:flex
    }
    .grid-container {
      display: grid;
      
      margin-left: 20%;
      margin-top: 5%;
      margin-right:12%;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 20px;
      padding: 40px;
    }
    .grid-item {
      width: 60px;
     height: 60px;
      background-color: #0099ff;
      color: #fdfdfd;
      border-radius: 10px;
      text-align:center;
      padding: 20px;
      font-size: px;
      box-shadow: 0 2px 6px rgba(225, 105, 105, 0.1);
      transition: transform 0.3s, box-shadow 0.3s;
      -webkit-transition: transform 0.3s, box-shadow 0.3s;
      -moz-transition: transform 0.3s, box-shadow 0.3s;
      -ms-transition: transform 0.3s, box-shadow 0.3s;
      -o-transition: transform 0.3s, box-shadow 0.3s;
}

    .grid-item:hover {
      transform: scale(1.06);
      box-shadow: 0 4px 8px rgba(255, 10, 10, 0.2);
      background-color: rgb(99, 99, 244);
    }


    @keyframes shake {
      0%, 100% {
        transform: translateX(0);
      }
      10%, 30%, 50%, 70%, 90% {
        transform: translateX(-5px);
      }
      20%, 40%, 60%, 80% {
        transform: translateX(5px);
      }
    }

    .shake {
      animation-name: shake;
      animation-duration: 0.5s;
      animation-iteration-count: 1;
      animation-timing-function: ease-in-out;
    }

    #timer {
      font-size: 100px;
      color: rgb(255, 199, 45);
      text-align: center;
    }
    .scoreboard{
      color: rgb(255, 255, 255);
      margin-top: 10%;
      display:inline-block
    }
    .timer-note{
      font-size: 30px;
    }
    #next-button{
      color: rgb(0, 2, 2);
      transform-origin: 2cm center;
      
    }
    