@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
      font-family: Arial, sans-serif;
      justify-content: center;
      align-items: center;
      margin: 0;
      background: linear-gradient(to right,red,orange);
    
      /* background-blend-mode:multiply; */
      
      }

    .container-fluid{
      display:flex;
      
    }

    .grid-container {
      display: grid;
      margin-left: 20%;
      position :absolute;
      margin-top: 5%;
      margin-right:52%;
      gap: 20px;
      padding: 40px;
    }
    .three-v{
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
    .four-v{
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
    .restart{
      margin-top: 90%;
      
    }
    
    .grid-item {
      width: 60px;
      height: 60px;
      background-color: #0099ff;
      color: #fdfdfd;
      border-radius: 10px;
      text-align:center;
      padding: 20px;
      box-shadow: 2px 2px 6px rgba(225, 105, 105, 0.1);
      cursor:pointer;
      }

    .grid-item:hover {
      transform: scale(1.06);
      box-shadow: 0 4px 8px rgba(255, 10, 10, 0.2);
      background-color: rgb(99, 99, 244);
    }
    .guide{
      position :absolute;
      margin-left: 23%;
      margin-top:3%;
      color:rgb(237, 255, 243);
      font-size:20px;
    }

    

  

    #timer {
      font-size: 100px;
      /* color: rgb(255, 248, 229); */
      text-align: center;
    }
    .scoreboard{
      position :absolute;
      margin-left: 65%;
      color: rgb(255, 255, 255);
      margin-top: 5%;
      display:inline-block
    }
    .timer-note{
      font-size: 30px;
    }
    #next-button{
      color: rgb(0, 2, 2);
      transform-origin: 2cm center;
    }

  .grid-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  
  30%, 50%, 70% {
    transform: translate3d(-2px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(2px, 0, 0);
}
}
.active{
  text-size-adjust: 1em;
}





svg {
 
    display: inline-block;
    position:relative;
    top: 2%;
    bottom:2%;
    font: 8em 'Montserrat';
    width: 100%;
    height: 200px;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 8% 29%;
    stroke-width: 8px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
	stroke: #ffffff;
	animation-delay: -1;
}

.text-copy:nth-child(2){
	stroke: #1ff8ff;
	animation-delay: -2s;
}

.text-copy:nth-child(3){
	stroke: #e8d21d;
	animation-delay: -3s;
}

.text-copy:nth-child(4){
	stroke: #abff9e;
	animation-delay: -4s;
}

.text-copy:nth-child(5){
	stroke: #ffffff;
	animation-delay: -5s;
}

@keyframes stroke-offset{
	100% {stroke-dashoffset: -35%;}
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;
}
/* Modal Content/Box */
.modal-content {
  background-color: #000000;
  color:#000000;
  margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #ffffff;
  width: 50%; 
  height: 50%; 
}



.modal-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    color: #ffffff;
    
    background-color: #000000;
    font-size: 30px;
}

.modal-body p { 
   font-size: 22px;
  line-height: 1.5; 
}

/* The Close Button */
.close-btn {
  color: #ff0000;
  display:flex;
  float: right;
  
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


button{
  @include corners (5px);
background:#039fbe;
color:white;
border: solid 1px white;
text-decoration:none;

cursor:zoom-in;
font-size:1.2em;
padding:10px 10px;
text-align: center;
width:170px;
margin: 20px;
 outline: none;
 &:hover{
	@include transition;
	background:rgb(208, 255, 0);
	border: solid 1px rgb(200, 255, 0);
	color:blueviolet;
}
}
#end-button{
  display:none;
}
/* dropdown */
