*{
    margin: 0;
    padding: 0;

}
/* body{
    background-image: url("../img/brain.jpg");
} */
img{
    height: 110px;
    width: 450px;
}
.logo{
    height: 110px;
    width: 1000px;
}
.nav{
    width: 100vw;
    background: rgb(62,68,79);
    background: linear-gradient(103deg, rgba(62,68,79,1) 32%, rgba(3,13,61,1) 58%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    position: fixed;
    z-index: 1;
}
#b1{
    height: 60px;
    width: 130px;
    transition: all 0.4s 0s linear;
    position: relative;
    right: -50px;
}

button:hover{
    transform: scale(1.2);
}
#para{
    color: rgb(101, 188, 215);
    -webkit-text-stroke: 1px #043d4d;
    position: absolute;
    top: 10px;
    margin-top: 10px;
    font-size: 46px;
    font-weight: 1000;
    right: 1220px;
    text-align: center;
    /* color: rgb(117, 208, 208); */
    line-height: 40px;
    font-family:'Times New Roman', Times, serif
}
#ready{
    color: rgb(101, 188, 215);
    -webkit-text-stroke: 2px #043d4d;
    position: absolute;
    top: 15px;
    margin-top: 15px;
    font-size: 40px;
    font-weight: 700;
    right: 1220px;
    text-align: center;
    /* color: rgb(117, 208, 208); */
    line-height: 40px;
    font-family:Arial, Helvetica, sans-serif
}
#name{
    position: absolute;
    top: 0;
    transition: all 1.2s 0.1s ease-in;
}
#name:hover{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    transform: translateX(340px);
}
.main{
    background-image: url("../img/homebrain.jpg");
    /* background-repeat: no-repeat; */
    background-size:cover;
    height: 1100px;
    width: 100%;
    background-attachment: fixed;
}
#start-bt{
    position: relative;
    /* position: sticky; */
    top: 450px;
    left: 32%;
    width: 180px;
    height: 100px;
    background-color: rgb(52, 78, 207);
    color: aliceblue;
    font-size: 25px;
    border-radius: 10px;
    transition: all 0.2s 0s linear;
    box-shadow: 2px 2px 6px 5px rgb(160, 241, 233);
}
#start-bt:hover{
    background-color: rgb(30, 148, 166);
    color: rgb(217, 199, 199);
    transform: scale(1.1);
    border-radius: 15px;
    box-shadow: 2px 2px 6px 3px rgb(2, 18, 37);
}
.main #robot{
    height: 300px;
    width: 250px;
    position: relative;
    top: 200px;
    left: 100px;
    opacity: 1;
    /* background-color: rgb(229, 235, 235); */
    border-radius: 6px;
    transition: 0.4s linear all;
    animation: 1s 1s ease-in-out running infinite alternate robo;
}
/* .main #robot:hover{
    opacity: 0;
    transform:translateY(180px);
} */
@keyframes robo{
   from{
    top: 200px;
   }
   to{
    top: 400px;
   }
}
 #ready{
    position: absolute;
    top: 250px;
    left: 10px;
    color:transparent;
    font-size: 100px;
    -webkit-text-stroke: #3cb2cd 1px;
    width: 30%;
    line-height: 100px;
    height: 20%;
    /* transform: translate(-100%, -100%);
    background-color: rgba(255, 255, 255, 0.7); */
    animation: 1.2s 1s ease-out running infinite alternate ready;
    filter: drop-shadow(3px 3px 1px  rgb(2, 42, 12));
    text-shadow: 3px 3px 5px rgb(46, 128, 179);
} 
/* #ready:hover{
    animation: 3s 1s ease-out running infinite alternate ready;
} */
@keyframes ready{
    from{
        opacity: 1;
        left: -30px;
    }
    to{
        opacity: 0;
        left: 280px;
        /* transform: rotateY(180deg); */
    }
}
#ball{
    height: 200px;
    width: 200px;
    position: relative;
    top: 150px;
    left: 82%;
    background-color: transparent;
    border-radius: 100px;
    animation: 0.7s 1s ease-in running infinite alternate ball;
    filter: drop-shadow(15px 15px 100px  rgb(39, 141, 169));
    /* box-shadow:10px 10px 100px 1px rgb(118, 180, 202) ; */
}
@keyframes ball{
    from{
        top: 130px;
    }
    to{
        top: 470px;
    }
}  
 #ball:hover{
    /* opacity:0; */
    background-color: aqua;
} 
.creators{
    position: relative;
    top: 590px;
    /* background-color: rgb(233, 235, 247); */
    height: 200px;
    width: 98vw;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sp,.sm,.sb{
    display: flex;
    border: 2px rgb(110, 187, 209) solid;
    background-color: rgb(6, 42, 69);
    border-radius: 10px;
    padding: 30px;
    width: 330px;
    flex-direction: column;
    color: rgb(238, 80, 28);
    font-size: 20px;
    transition: 0.2s linear all;
}
.sp:hover,.sm:hover,.sb:hover{
    transform: scale(1.1);
    box-shadow: 3px 3px 15px rgb(41, 176, 203);
}
.creators a{
    color: white;
    text-decoration: none;
    width: 100px;
}
.creators a:hover{
    color: rgb(35, 219, 91);
}
.main h2{
    color: rgb(200, 34, 13);
    position: absolute;
    top: 700px;
    left: 40%;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    -webkit-text-stroke: #e8e0e0 0.5px;
    background: transparent;
    background-color: transparent;
}
#copy{
    background-color: rgb(5, 25, 52);
    top: 100%;
    position: relative;
    font-size: 15px;
    color: white;
    left: 0%;
    width: 98.9vw;
    word-spacing: 10px;
    text-align: center;
}