body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    
    .grid-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 20px;
      padding: 40px;
      
    }
    
    .grid-item {
      background-color: #3c88ba;
      color: #ffffff;
      border-radius: 10px;
      text-align: center;
      padding: 20px;
<<<<<<< HEAD
      font-size: 20px;
=======

>>>>>>> 7204c5deb23a2bdfe807d3d0be280997b062b6c4
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.2s, box-shadow 0.3s;
      
}

    .grid-item:hover {
      transform: scale(1.06);
      box-shadow: 0 4px 8px rgba(255, 10, 10, 0.2);
      background-color: rgb(99, 99, 244);
    }