/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Basic styling */
body {
    font-family: Arial, sans-serif;
    background-image: url("https://wallpapercave.com/wp/wp2694479.jpg");
    background-color: rgb(3, 82, 3);
}

header {
    background-color: #1b1b32;
    color: white;
    padding: 15px 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav li {
    margin-right: 30px;
}


nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav a:hover {
    color: #f39c12;
}

main {
    padding: 30px;
    background-color: rgb(33, 212, 33);
    background-image: url("https://wallpapercave.com/wp/wp2694479.jpg");
}

.featured-game {
    text-align: center;
    margin-bottom: 40px;
    padding: 40px;
    background-color: #815610;
    color: white;
    border-radius: 10px;
}

.featured-game h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.play-button {
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.play-button:hover {
    background-color: #b11b07;
}

.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.game-card {
    background-color: #1b1b32;
    padding: 20px;
    border-radius: 10px;
    color: white;
    text-align: center;
    transition: background-color 0.3s ease;
}

.game-card:hover {
    background-color: #333;
}

.game-card img {
    max-width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

footer {
    background-color: #1b1b32;
    color: white;
    text-align: center;
    padding: 15px 0;
}
h2{
    color:#fff;
}
